.container {
    margin-top: 20px;
}

.container button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-family: arial;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(83, 148, 205);
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(46, 157, 255);
}